.error_msg{
    color:red;
    visibility: hidden;
}
.success_msg{
    color:green;
    visibility: hidden;
}
.c_parameter_area{
    display: none;
}
#s_account_set_checkbox{
    height: 300px;
    overflow: auto;
}
/**zwy_result.html**/
#success-info{
    display: none;
}
.head-title{
    background-color:#eeeeee;
}
.head-user{
    height:40px;
}